<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FontViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46369BB11D0BF24D007E045E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46369BC21D0BF24D007E045E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46369BCD1D0BF24D007E045E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
